<footer class="text-center">
    <div class="container text-muted py-4 py-lg-5">
        <a class="btn btn-dark border rounded-pill btn-icon-split" href="ProcessesList"><span class="text-white-50 icon"><i class="fas fa-th-list"></i></span><span class="text-white text">AI Analysis Results</span></a>
    </div>
    <div class="container text-muted py-4 py-lg-5">
        <p class="mb-0">
            Developed by
        </p>
        <p class="mb-0">
            <a style="text-decoration: none; color: inherit" href="https://www.linkedin.com/in/alessio-palmieri/">Alessio Palmieri,</a>
            <a style="text-decoration: none; color: inherit" href="https://www.linkedin.com/in/daniele-monte/"> Daniele Monte</a>
        </p>
    </div>
</footer>