<nav class="navbar navbar-light navbar-expand-md" style="width: 100%;">
    <div class="container-fluid">
        <a class="btn btn-info btn-circle ms-1" role="button" href="/"><i class="fas fa-home text-white"></i></a>
        <img src="../assets/img/Logo.png" style="height: 45px;">
        <a class="btn btn-secondary rounded-pill btn-icon-split" role="button" href="/Settings"><span class="text-white-50 icon"><i class="fas fa-cogs"></i></span><span class="text-white text">Settings</span></a>
    </div>
</nav>